/**标绘工具栏样式开始**/
.navbar {
    display: block;
    position:absolute;
    width:auto;
    height:17px;
    z-index:1;
    right: 10px;
    top: 5px;
    /*background-color: #2da7e0;*/
}
.navbar ul {
    list-style: none;
    margin-left: 8px;
}
.navbar ul li{
    float: left;
    font-size: 16px;
}
.navbar span{
    display: block;
    line-height: 20px;
    padding-right: 8px;
    cursor: pointer;
    padding-left: 8px;
}