/**标绘工具栏样式开始**/
.navbar {
    display: none;
    position:absolute;
    width:auto;
    height:17px;
    z-index:1;
    right: 50px;
    top: 0px;
    /*background-color: #2da7e0;*/
}
.navbar ul {
    list-style: none;
    margin-left: 8px;
}
.navbar ul li{
    float: left;
}
.navbar span{
    display: block;
    line-height: 20px;
    width: 32px;
    height:32px;
    margin-right: 5px;
    cursor: pointer;
    padding-left: 23px;
}

.point {
    background: url("../images/markers/tool_cilck.png") left no-repeat;

}
.polyline {
    background: url("../images/markers/polyline.png") left no-repeat;

}
.polygon{
    background: url("../images/markers/tool_duobian.png") left no-repeat;
}
.square{
    background: url("../images/markers/tool_kuangxuan.png") left no-repeat;
}
.circle{
    background: url("../images/markers/tool_quanxuan.png") left no-repeat;
}
/**标绘工具栏样式结束**/