<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>moduleName</param-name>
        <param-value>dshbcbp</param-value>
    </context-param>
    <context-param>
        <param-name>nodeUri</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.harmonywisdom.framework.listener.FrameworkListener</listener-class>
    </listener>

    <!--附件上传servlet-->
    <servlet>
        <servlet-name>AttachmentServlet</servlet-name>
        <servlet-class>com.harmonywisdom.dshbcbp.attachment.action.AttachmentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AttachmentServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>

    <!--apportal filter-->
    <filter>
        <filter-name>AgentFilter</filter-name>
        <filter-class>com.harmonywisdom.apportal.sso.agent.AgentFilter</filter-class>
        <!--======统计用户登录信息，注意systemCode值是唯一的======-->
        <init-param>
            <param-name>systemCode</param-name>
            <param-value>dshbcbp</param-value>
        </init-param>
        <init-param>
            <param-name>systemName</param-name>
            <param-value>东胜环保综合业务平台</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AgentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
